   <!-- our_room -->
      <div  class="our_room" id="rooms">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Room</h2>
                     <p>Lorem Ipsum available, but the majority have suffered </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <%# <figure><img src="images/room1.jpg" alt="#"/></figure> %>
                        <%= image_tag "room1.jpg" %>
                        <!-- <%= link_to image_tag("room1"), about_path %> -->


                           <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                           Book Now
                        </button>

                        


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                              <div class="modal-header">
                                 <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                 <button t ype="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 <form action="">
                                    <div class="form-group">
                                    <label for="">Choose hotel</label>
                                    <input type="text" name="" class="form-control">
                                    
                                      

                                    </div>

                                    <div class="form-group">
                                    <label for="">Check-in date</label>
                                    <input type="text" name="" class="form-control">
                                    </div>

                                    <div class="form-group">
                                    <label for="">Check-out date</label>
                                    <input type="text" name="" class="form-control">
                                    </div>

                                    <div class="form-group">
                                    <label for="">Adult</label>
                                    <input type="text" name="" class="form-control">
                                    </div>

                                    <div class="form-group">
                                    <label for="">Children</label>
                                    <input type="text" name="" class="form-control">
                                    </div>
                                 </form>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                 <button type="button" class="btn btn-primary">Save changes</button>
                              </div>
                              </div>
                           </div>
                        </div>



                     </div>
                     <div class="bed_room">
                        <h3>Bed Room</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <%# <figure><img src="images/room2.jpg" alt="#"/></figure> %>
                        <%= image_tag "room2.jpg" %>

                     </div>
                     <div class="bed_room">
                        <h3>Bed Room</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <%# <figure><img src="images/room3.jpg" alt="#"/></figure> %>
                        <%= image_tag "room3.jpg" %>

                     </div>
                     <div class="bed_room">
                        <h3>Bed Room</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <%# <figure><img src="images/room4.jpg" alt="#"/></figure> %>
                        <%= image_tag "room4.jpg" %>

                     </div>
                     <div class="bed_room">
                        <h3>Bed Room</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <%# <figure><img src="images/room5.jpg" alt="#"/></figure> %>
                        <%= image_tag "room5.jpg" %>
                     </div>
                     <div class="bed_room">
                        <h3>Bed Room</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <%# <figure><img src="images/room6.jpg" alt="#"/></figure> %>
                        <%= image_tag "room6.jpg" %>
                     </div>
                     <div class="bed_room">
                        <h3>Bed Room</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end our_room -->