<div  class="our_room" id="rooms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Our Room</h2>
          <p>A dream doesn't become reality through magic; it takes sweat, determination and hard work. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <%= image_tag @room.room_image, class: 'img-fuild rounded' %>
      </div>
      <div class="col-md-4">
        <h1>Grande Room</h1>
        <h3>Room Type: <%= @room.room_type %> </h3>
        <h5>Room capacity : <%= @room.capacity %> </h5>
        <h5>Floor Number : <%= @room.floor_number %> </h5>
        <h5><%= @room.description %> </h5>
      </div>
      <div class="col-md-3">
      <h3><del> <%= @room.price*1.5 %> </del></h3> <br>
        <h1 style="background: black; color: white; margin-right: 83px; ", class="rounded"><%= @room.price %>
        <%= link_to 'Book', new_booking_path(id: @room), class: 'btn btn-primary', style: 'width:100px;height: 56px; font-weight: bold; '  %>
        </h1>
      </div>
    </div>
  </div>
</div>

